<nav class="navbar">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="#">Quem somos</a>
    </li>
    <li>
      <a href="#">Produtos</a>
    </li>
    <li>
      <a href="#">Serviços</a>
    </li>
    <li>
      <a href="/posts">Posts</a>
    </li>
    <li>
      <a href="#">Contato</a>
    </li>
  </ul>
</nav>