<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>

  <body>
    <%- include('partials/header.ejs') %>

    <section class="container">
      <%- include('partials/navbar.ejs') %>

      <article class="content">
        <h1>Seja bem vindo</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iure ex,
          nostrum ratione vel aperiam laudantium facere voluptatum blanditiis
          minima incidunt consectetur beatae eius perferendis quisquam
          necessitatibus culpa! Repellendus, ex.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iure ex,
          nostrum ratione vel aperiam laudantium facere voluptatum blanditiis
          minima incidunt consectetur beatae eius perferendis quisquam
          necessitatibus culpa! Repellendus, ex.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iure ex,
          nostrum ratione vel aperiam laudantium facere voluptatum blanditiis
          minima incidunt consectetur beatae eius perferendis quisquam
          necessitatibus culpa! Repellendus, ex.
        </p>
      </article>
    </section>

    <%- include('partials/footer.ejs') %>
  </body>

  <script src="/js/main.js"></script>
</html>
