<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs') %>

    <h1>Posts</h1>
    <h2>Veja abaixo alguns posts</h2>

    <%- include('partials/footer.ejs') %>
  </body>

  <script src="/js/main.js"></script>
</html>
